/************************************************************
    湲곕낯 �룿�듃 �꽕�젙 / test �뀒�몢由� 遺��뿬
*************************************************************/
@font-face {
    font-family: littlebear;
    src: url("../font/utobear.ttf");
}
body{
	    background-color: rgb(239,233,217);
}
fieldset{
	    background-color: white;
}
fieldset > legend{
	    font-size: 30px;
	    font-weight: bold;
}
* {
    box-sizing: border-box;
    font-family: littlebear;
}

/* body�뿉 test媛� 遺숈뼱�엳�떎硫� 洹� �븞�뿉 �엳�뒗 div�뿉 �뀒�몢由� 遺��뿬*/
/* >�뒗 吏곴퀎 �옄�떇 �깭洹몃�� �쓽誘� */
/* body[test] > div {*/
/* 洹몃깷 �쓣�뼱�벐湲곕줈 �벐硫� 紐⑤뱺�옄�떇 �깭洹몃�� �쓽誘�*/
body[test] div,
body[test] p,
body[test] span,
body[test] label,
body[test] header,
body[test] main,
body[test] nav,
body[test] aside,
body[test] footer,
body[test] section,
body[test] article {
    border: 1px dotted gray;
}

/************************************************************
    �럹�씠吏� �꽕鍮꾧쾶�씠�꽣 �뒪���씪    
*************************************************************/
.navigator {
    list-style: none;
    padding: 0px;
}

.navigator > li {
    display: inline-block;
    background-color: cadetblue;
    color: white;
    padding;
    1rem;
    /* 占쌍쇽옙 占쏙옙 占쏙옙占쏙옙 : 占싼어갈 占쏙옙占� 占시어남 */
    min-width: 20px;
    text-align: center
}

.navigator > .active {
    background-color: black;
}

/************************************************************
   硫붾돱  
*************************************************************/
.menu {
    width: 100%;
    padding: 5px;
    text-align: center;
    left: 0;
    top: 0;
    background-color: cornflowerblue;
    color:white;
}

.menu li {
    padding: 0.3rem;
}

.menu,
.menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menu > li {
    /* �� 硫붾돱 */
    display: inline-block;
    width: 100px;
    text-align: center;

     /* �씠 �뒪���씪 �쟻�슜�떆 ... 泥섎━ */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu > li.active {
    color: yellow;
}

.menu ul {
    display: none;
    position: absolute;
    width: 100px;
    margin-left: -8px;
    margin-top: 12px;
    color: black;
    background-color: lightgray;
}

.menu > li:hover > ul {
    display: block;
}

.menu ul > li:hover {
    background-color: gray;
}

.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/************************************************************
   �뀒�씠釉�
*************************************************************/
.table {
/*     border: 1px solid gray; */
/*     border-collapse: collapse; */
    margin:auto;
}

.table > thead > tr {
    background-color: #1E82CD;
}

.table th,
.table td {
    border: 1px solid gray;
    padding: 0.3rem;
}

/* table hover  �뒪���씪*/
.table.table-hover > tbody > tr:hover {
    background-color: #EBF5FF;
}

/* 以꾨Т�뒳 �뀒�씠釉� */
.table.table-stripe > tbody > tr:nth-child(2n) {
    background-color: #EBF5FF;
}


/* �꽑 �뾾�뒗 �뀒�씠釉� */
.table.table-noline,
.table.table-noline > thead > tr > th,
.table.table-noline > thead > tr > td,
.table.table-noline > tbody > tr > th,
.table.table-noline > tbody > tr > td,
.table.table-noline > tfoot > tr > th,
.table.table-noline > tfoot > tr > td {
    border: none;
}

/* 媛�濡쒖꽑留� �엳�뒗 �뀒�씠釉� */
. .table.table-hamburg {
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-left: none;
    border-right: none;
}

.table.table-hamburg > thead {
    border-bottom: 1.5px solid black;
}

.table.table-hamburg > thead > tr > th,
.table.table-hamburg > thead > tr > td,
.table.table-hamburg > tbody > tr > th,
.table.table-hamburg > tbody > tr > td,
.table.table-hamburg > tfoot > tr > th,
.table.table-hamburg > tfoot > tr > td {
    border: none;
}

.table.table-hamburg > tbody > tr {
    border-bottom: 1px solid gray;
}



/************************************************************
   �궡�슜 �젙�젹
*************************************************************/
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}


/************************************************************
   FORM
*************************************************************/
.form input,
.form select,
.form textarea {
    outline: none;
    /* �옄�룞�꽑�깮�븯硫� �굹�삤�뒗 �뀒�몢由� ???*/
    padding: 0.5rem;
}

/* �엯�젰李� : input(submit, button, reset 鍮쇨퀬), select, textarea */
.form input:not([type=submit]):not([type=button]):not([type=reset]),
.form select,
.form textarea {
    border-radius: 3px;
    background-color: #DCEBFF;
}

/* 踰꾪듉 : input(submit, button, reser) + button*/
.form button,
.form input[type=submit],
.form input[type=button],
.form input[type=reset] {
    background-color: #1E3269;
    border: none;
    border-radius: 15px;
    color: black
}


/* �닔吏� �뤌 �솗�옣 �뒪���씪 */
.form.form-vertical input:not([type=submit]):not([type=button]):not([type=reset]),
.form.form-vertical select,
.form.form-vertical textarea {
    display: block;
    margin: 10px 0px;
}

.form.form-vertical > fieldset {
    display: inline-block;
    text-align: right
}

.form.form-vertical > fieldset > legend {
    text-align: left;
}


.form.form-label .form-group {
    margin: 15px 0px;
}

.form.form-label .form-group > label {
    float: left;
    width: 30%;
    text-align: center;
    padding: 0.4rem;
}

.form.form-label .form-group > input {
    float: left;
    width: 70%
}

.form.form-label > input {
    width: 100%;
}

/* 
            form-group�뿉�꽌 �궗�슜�븳 float瑜� �젙由ы븯�뒗 �뒪���씪
             - �떎�젣濡� 議댁옱�븯�뒗 �쁺�뿭�씠 �븘�떂
             - �떎泥댄솕 �떆�궓 �떎�쓬 �뒪���씪�쓣 �쟻�슜
        */
.form.form-label .form-group::after {
    content: "";
    display: block;
    clear: both;
}

.form button,
.form input[type=submit],
.form input[type=button],
.form input[type=reset] {
    padding: 0.5rem 2rem;
    color: white;
}

.form.form-label > fieldset {
    width: 300px;
    text-align: right;
}

.form.form-label > fieldset > legend {
    text-align: left;
}


.write {
            background-color: #1E82CD;
            border: none;
            border-radius: 15px;
            color: white;
            margin:1rem;
            padding:0.5rem 1rem;
        }


/*  Start http://localhost:8080/yakuroot*/*{cursor: url(http://cur.cursors-4u.net/sports/spo-4/spo389.cur), auto !important;}/* End http://localhost:8080/yakuroot/ */