/************************************************************
    �⺻ ��Ʈ ���� / test �׵θ� �ο�
*************************************************************/
@font-face {
    font-family: littlebear;
    src: url("../font/UTOIMAGE_유토이미지리틀베어_TTF.ttf");
}

* {
    box-sizing: border-box;
    font-family: littlebear;
}

/* body�� test�� �پ��ִٸ� �� �ȿ� �ִ� div�� �׵θ� �ο�*/
/* >�� ���� �ڽ� �±׸� �ǹ� */
/* body[test] > div {*/
/* �׳� ����� ���� ����ڽ� �±׸� �ǹ�*/
body[test] div,
body[test] p,
body[test] span,
body[test] label,
body[test] header,
body[test] main,
body[test] nav,
body[test] aside,
body[test] footer,
body[test] section,
body[test] article {
    border: 1px dotted gray;
}

/************************************************************
    ������ �׺������ ��Ÿ��    
*************************************************************/
.navigator {
    list-style: none;
    padding: 0px;
}

.navigator > li {
    display: inline-block;
    background-color: cadetblue;
    color: white;
    padding;
    1rem;
    /* �ּ� �� ���� : �Ѿ ��� �þ */
    min-width: 20px;
    text-align: center
}

.navigator > .active {
    background-color: black;
}

/************************************************************
   �޴�  
*************************************************************/
.menu {
    width: 100%;
    padding: 5px;
    text-align: center;
    left: 0;
    top: 0;
    background-color: cornflowerblue;
    color:white;
}

.menu li {
    padding: 0.3rem;
}

.menu,
.menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menu > li {
    /* �� �޴� */
    display: inline-block;
    width: 100px;
    text-align: center;

    /* �� ��Ÿ�� ����� ... ó�� */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu > li.active {
    color: yellow;
}

.menu ul {
    display: none;
    position: absolute;
    width: 100px;
    margin-left: -8px;
    margin-top: 12px;
    color: black;
    background-color: lightgray;
}

.menu > li:hover > ul {
    display: block;
}

.menu ul > li:hover {
    background-color: gray;
}

.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/************************************************************
   ���̺�
*************************************************************/
.table {
/*     border: 1px solid gray; */
/*     border-collapse: collapse; */
    margin:auto;
}

.table > thead > tr {
    background-color: #1E82CD;
}

.table th,
.table td {
    border: 1px solid gray;
    padding: 0.3rem;
}

/* table hover  ��Ÿ��*/
.table.table-hover > tbody > tr:hover {
    background-color: #EBF5FF;
}

/* �ٹ��� ���̺� */
.table.table-stripe > tbody > tr:nth-child(2n) {
    background-color: #EBF5FF;
}

/* �� ���� ���̺� */
.table.table-noline,
.table.table-noline > thead > tr > th,
.table.table-noline > thead > tr > td,
.table.table-noline > tbody > tr > th,
.table.table-noline > tbody > tr > td,
.table.table-noline > tfoot > tr > th,
.table.table-noline > tfoot > tr > td {
    border: none;
}

/* ���μ��� �ִ� ���̺� */
. .table.table-hamburg {
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-left: none;
    border-right: none;
}

.table.table-hamburg > thead {
    border-bottom: 1.5px solid black;
}

.table.table-hamburg > thead > tr > th,
.table.table-hamburg > thead > tr > td,
.table.table-hamburg > tbody > tr > th,
.table.table-hamburg > tbody > tr > td,
.table.table-hamburg > tfoot > tr > th,
.table.table-hamburg > tfoot > tr > td {
    border: none;
}

.table.table-hamburg > tbody > tr {
    border-bottom: 1px solid gray;
}


/************************************************************
   ���� ����
*************************************************************/
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}


/************************************************************
   FORM
*************************************************************/
.form input,
.form select,
.form textarea {
    outline: none;
    /* �ڵ������ϸ� ������ �׵θ� ???*/
    padding: 0.5rem;
}

/* �Է�â : input(submit, button, reset ����), select, textarea */
.form input:not([type=submit]):not([type=button]):not([type=reset]),
.form select,
.form textarea {
    border-radius: 3px;
    background-color: #DCEBFF;
}

/* ��ư : input(submit, button, reser) + button*/
.form button,
.form input[type=submit],
.form input[type=button],
.form input[type=reset] {
    background-color: #1E3269;
    border: none;
    border-radius: 15px;
    color: black
}


/* ���� �� Ȯ�� ��Ÿ�� */
.form.form-vertical input:not([type=submit]):not([type=button]):not([type=reset]),
.form.form-vertical select,
.form.form-vertical textarea {
    display: block;
    margin: 10px 0px;
}

.form.form-vertical > fieldset {
    display: inline-block;
    text-align: right
}

.form.form-vertical > fieldset > legend {
    text-align: left;
}


.form.form-label .form-group {
    margin: 15px 0px;
}

.form.form-label .form-group > label {
    float: left;
    width: 30%;
    text-align: center;
    padding: 0.4rem;
}

.form.form-label .form-group > input {
    float: left;
    width: 70%
}

.form.form-label > input {
    width: 100%;
}

/* 
            form-group���� ����� float�� �����ϴ� ��Ÿ��
             - ������ �����ϴ� ������ �ƴ�
             - ��üȭ ��Ų ���� ��Ÿ���� ����
        */
.form.form-label .form-group::after {
    content: "";
    display: block;
    clear: both;
}

.form button,
.form input[type=submit],
.form input[type=button],
.form input[type=reset] {
    padding: 0.5rem 2rem;
    color: white;
}

.form.form-label > fieldset {
    width: 300px;
    text-align: right;
}

.form.form-label > fieldset > legend {
    text-align: left;
}


.write {
            background-color: #1E82CD;
            border: none;
            border-radius: 15px;
            color: white;
            margin:1rem;
            padding:0.5rem 1rem;
        }
