/************************************************************
    기본 폰트 설정 / test 테두리 부여
*************************************************************/
@font-face {
    font-family: littlebear;
    src: url("../font/utobear.ttf");
}
body{
	    background-color: rgb(239,233,217);
}
fieldset{
	    background-color: white;
}
fieldset > legend{
	    font-size: 40px;
	    font-weight: bold;
}
* {
    box-sizing: border-box;
    font-family: littlebear;
}

/* body에 test가 붙어있다면 그 안에 있는 div에 테두리 부여*/
/* >는 직계 자식 태그를 의미 */
/* body[test] > div {*/
/* 그냥 띄어쓰기로 쓰면 모든자식 태그를 의미*/
body[test] div,
body[test] p,
body[test] span,
body[test] label,
body[test] header,
body[test] main,
body[test] nav,
body[test] aside,
body[test] footer,
body[test] section,
body[test] article {
    border: 1px dotted gray;
}

/************************************************************
    페이지 네비게이터 스타일    
*************************************************************/
.navigator {
    list-style: none;
    padding: 0px;
}

.navigator > li {
    display: inline-block;
    background-color: cadetblue;
    color: white;
    padding;
    1rem;
      /* 최소 폭 지정 : 넘어갈 경우 늘어남 */
    min-width: 20px;
    text-align: center
}

.navigator > .active {
    background-color: black;
}

/************************************************************
   메뉴  
*************************************************************/
.menu {
    width: 100%;
    padding: 5px;
    text-align: center;
    left: 0;
    top: 0;
    background-color: cornflowerblue;
    color:white;
}

.menu li {
    padding: 0.3rem;
}

.menu,
.menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menu > li {
    /* 대 메뉴 */
    display: inline-block;
    width: 100px;
    text-align: center;

     /* 이 스타일 적용시 ... 처리 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu > li.active {
    color: yellow;
}

.menu ul {
    display: none;
    position: absolute;
    width: 100px;
    margin-left: -8px;
    margin-top: 12px;
    color: black;
    background-color: lightgray;
}

.menu > li:hover > ul {
    display: block;
}

.menu ul > li:hover {
    background-color: gray;
}

.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/************************************************************
   테이블
*************************************************************/
.table {
    border: 1px solid black;
    border-collapse: collapse;
    margin:auto;
}

.table > thead > tr {
    background-color: #1E82CD;
    
}

.table th,
.table td {
    border: 1px solid black;
    padding: 0.3rem;
}

/* 줄무늬 테이블 */
.table.table-stripe > tbody > tr:nth-child(2n) {
    background-color: #EBF5FF;
}

/* table hover  스타일*/
.table.table-hover > tbody > tr:hover {
    background-color: #D5D5D5;
}




/* 선 없는 테이블 */
.table.table-noline,
.table.table-noline > thead > tr > th,
.table.table-noline > thead > tr > td,
.table.table-noline > tbody > tr > th,
.table.table-noline > tbody > tr > td,
.table.table-noline > tfoot > tr > th,
.table.table-noline > tfoot > tr > td {
    border: none;
}

/* 가로선만 있는 테이블 */
. .table.table-hamburg {
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-left: none;
    border-right: none;
}

.table.table-hamburg > thead {
    border-bottom: 1.5px solid black;
}

.table.table-hamburg > thead > tr > th,
.table.table-hamburg > thead > tr > td,
.table.table-hamburg > tbody > tr > th,
.table.table-hamburg > tbody > tr > td,
.table.table-hamburg > tfoot > tr > th,
.table.table-hamburg > tfoot > tr > td {
    border: none;
}

.table.table-hamburg > tbody > tr {
    border-bottom: 1px solid gray;
}



/************************************************************
   내용 정렬
*************************************************************/
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}


/************************************************************
   FORM
*************************************************************/
.form input,
.form select,
.form textarea {
    outline: none;
    padding: 0.5rem;
}

/* 입력창 : input(submit, button, reset 빼고), select, textarea */
.form input:not([type=submit]):not([type=button]):not([type=reset]),
.form select,
.form textarea {
    border-radius: 3px;
    background-color: #DCEBFF;
}

/* 버튼 : input(submit, button, reset) + button*/
.form button,
.form input[type=submit],
.form input[type=button],
.form input[type=reset] {
    background-color: #1E3269;
    border: none;
    border-radius: 15px;
    color: black
}


/* 수직 폼 확장 스타일 */
.form.form-vertical input:not([type=submit]):not([type=button]):not([type=reset]),
.form.form-vertical select,
.form.form-vertical textarea {
    display: block;
    margin: 10px 0px;
}

.form.form-vertical > fieldset {
    display: inline-block;
    text-align: right
}

.form.form-vertical > fieldset > legend {
    text-align: left;
}


.form.form-label .form-group {
    margin: 15px 0px;
}

.form.form-label .form-group > label {
    float: left;
    width: 30%;
    text-align: center;
    padding: 0.4rem;
}

.form.form-label .form-group > input {
    float: left;
    width: 70%
}

.form.form-label > input {
    width: 100%;
}

/* 
            form-group에서 사용한 float를 정리하는 스타일
             - 실제로 존재하는 영역이 아님
             - 실체화 시킨 다음 스타일을 적용
        */
.form.form-label .form-group::after {
    content: "";
    display: block;
    clear: both;
}

.form button,
.form input[type=submit],
.form input[type=button],
.form input[type=reset] {
    padding: 0.5rem 2rem;
    color: white;
}

.form.form-label > fieldset {
    width: 300px;
    text-align: right;
}

.form.form-label > fieldset > legend {
    text-align: left;
}


.write {
            background-color: #1E82CD;
            border: none;
            border-radius: 15px;
            color: white;
            margin:1rem;
            padding:0.5rem 1rem;
        }
        
/************************************************************
   관리자
*************************************************************/        
/* 입력창 : input(submit, button, reset 빼고), select, textarea */
.form.admin input:not([type=submit]):not([type=button]):not([type=reset]),
.form.admin select,
.form.admin textarea {
    border-radius: 3px;
    background-color: #FFF0F0;
}

/* 버튼 : input(submit, button, reset) + button*/
.form.admin button,
.form.admin input[type=submit],
.form.admin input[type=button],
.form.admin input[type=reset] {
    background-color: #F58282;
    border: none;
    border-radius: 15px;
    color: black;
    padding : 0.2rem 1rem;
    font-size : 17px;
    margin-left: 10px;
}

/************************************************************
   관리자 ver.2
*************************************************************/        


/* 입력창 : input(submit, button, reset 빼고), select, textarea */
.form.admins input:not([type=submit]):not([type=button]):not([type=reset]),
.form.admins select,
.form.admins textarea {
    border-radius: 3px;
    background-color: #FFF0F0;
}

/* 버튼 : input(submit, button, reset) + button*/
.form.admins button,
.form.admins input[type=submit],
.form.admins input[type=button],
.form.admins input[type=reset] {
    background-color: #F58282;
    border: none;
    border-radius: 15px;
    color: white;
}

/*********************그냥 버튼 디자인**************************/
.cat_btn{
	background-color: #1E82CD;
	color: white;
	padding: 0.2rem;
	box-shadow: 1px 1px 1px black;
	font-size: 20px;
	border-radius: 5px;
}
.cat_btn:hover{
	background-color:#F58282;
}
/************************************************************
	야구공 모양 마우스 커서  -> 야구르트로 격하게 바꾸고 싶다.......
*************************************************************/
/*  Start http://localhost:8080/yakuroot   */
/* *{cursor: url(http://cur.cursors-4u.net/sports/spo-4/spo389.cur), auto !important;} */
*{cursor: url(../img/cursors/cursorss.png), auto !important;}
/*  End http://localhost:8080/yakuroot/   */