<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	xml
	- 데이터 저장에 특화된태그 형식 문서
	- 태그 형식을 사용, 태그 이름은 약속되어 있다면 자유
	- 반드시 첫째줄에는 xml 헤더가 나와야한다
	 - jsp에서는 프로젝트의 /web-inf안에 web.xml을 만들어서 개별설정
	- 프로젝트의 /meta-inf 안에 context.xml을 만들어서 자원설정
	 자동완성을 쓰고싶다면 namespace 설정
	 -->
	<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	 <!-- 세션설정 -->
	 <session-config>
	 	<session-timeout>720</session-timeout>
	 </session-config>
	 
	 <!-- 에러페이지설정 -->
	 <error-page>
	 	<error-code>403</error-code>
	 	<location>/err/403.jsp</location>
	 </error-page>
	 <error-page>
	 	<error-code>404</error-code>
	 	<location>/err/404.jsp</location>
	 </error-page>
	 <error-page>
	 	<error-code>500</error-code>
	 	<location>/err/500.jsp</location>
	 </error-page>
	 
	 <!-- 필터와 서블릿도 원래 이곳 
	 		@webServlet, @WebFilter
	 		필터는 이곳에 등록한 순서대로 작동한다
	 		
	 -->
	 	 <!-- 필터 시작 -->
	 <filter>
	 	<filter-name>filterutf8</filter-name>
	 	<filter-class>filter.UTF8Filter</filter-class>
	 </filter>
	 <filter-mapping>
	 	<filter-name>filterutf8</filter-name>
	 	<url-pattern>/*</url-pattern>
	 </filter-mapping> 
<!-- 	 	필터 종료 -->

</web-app>
	 
	 